<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'liste_produits' %}">Accueil</a></li>
                <li><a href="{% url 'ajouter_produit' %}">Ajouter un Produit</a></li>
                <li><a href="{% url 'saisie_informations' %}">Saisir les Informations Client</a></li>

            </ul>
        </nav>
    </header>


    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>
